<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS plugin -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
        {% block title %}
            <title>Layout</title>
        {% endblock title %}
    </head>

    <body>
        <div class="navbar">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('addTeam')}}">Add a Team</a>
            <a href="{{url_for('addPlayer')}}">Add a Player</a>
            <a href="{{url_for('updateTeam')}}">Update a Team</a>
            <a href="{{url_for('updatePlayer')}}">Update a Player</a>
            <a href="{{url_for('deletePlayer')}}">Delete a Player</a>
            <a href="{{url_for('deleteTeam')}}">Delete a Team</a>
        </div>

        {% block body %}

        {% endblock body %}
        <!-- Bootstrap Javascript plugin -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
    </body>
</html>