{% extends 'layout.html' %}
<head>
    {% block title %}
        <title>Update Team</title>
    {% endblock title %}
</head>

<body>
    {% block body %}
        <h1>Update a Team</h1>

        <div class="form">
            <form action="" method="POST">
                {{ form.hidden_tag() }}     <!-- Helps prevent CSRF attack -->
                
                <!-- Form shown to the user (field title: field box ) -->
                {{ form.team_name.label }}: {{ form.team_name }} <br>
                {{ form.submit }}
            </form>
        </div>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    {% endblock body %}

</body>